# Ignorar archivos y carpetas comunes en todos los proyectos Android

# Archivos de configuración de IDE
*.iml
.idea/
.DS_Store

# Gradle
.gradle/
**/build/
**/captures/
**/.externalNativeBuild/
**/local.properties

# Archivos temporales
*.log
